@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(250, 252, 161);
  background: linear-gradient(90deg, #f2e699 0%, #ffaadc 100%);
}

nav {
  background-color: #df6565;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

section {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.bg-container {
  flex: 1;
  padding: 55px;
  box-sizing: border-box;
  text-align: left;
  width: 40%;
  height: 100%;
}

.container {
  flex: 1;
  padding: 155px 55px 55px 0px;
  box-sizing: border-box;
  text-align: left;
  width: 40%;
  height: 100%;
}

.image {
  flex: 1;

  box-sizing: border-box;
  width: 60%;
  height: 80vh;
  object-fit: cover;
}

.image1 {
  flex: 1;
  padding: 80px;
  display: flex;
}

.menubar {
  width: 25px;
}

.imgleft {
  width: 40%;
  height: 90%;
  object-fit: cover;
}

.img1 {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.img2 {
  padding: 0 10px;
  width: 43%;
  height: 90%;
  object-fit: cover;
}

.img3 {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

section span {
  display: block;
}

.btn {
  background-color: #df6565;
  padding: 10px 45px;
  display: inline-block;
  color: white;
}

h1 {
  font-size: 3em;
}

.text {
  text-align: left;
}

.content-container {
  background: #df6565;
  padding: 10px;
  margin-left: -100px;
  width: 75%;
}

.clickArrow {
  margin: -11px 0;
}

@media only screen and (max-width: 768px) {
  .bg-container,
  .container {
    width: 100%;
  }

  .image,
  .image1 {
    width: 100%;
    height: auto;
  }

  .content-container {
    margin-left: 0;
    width: 100%;
  }
}
